<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}XLabs Top Manager{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/xlabstopset/css/styles.css') }}" />
        {% endblock stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <style>
            @import 'https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700';
            html, body { font-family: 'Ubuntu', sans-serif; margin: 0; padding: 0; }

            h2.page_title { background: #89bdd3; color: #ffffff; height: 80px; border: none; text-align: center; margin: 0 0 25px 0; }

            .wrapper { width: 70%; text-align: center; height: auto; display: block; margin: 0 auto; padding: 0; }

            .wrapper a.add_new { font-size: .9em; color: #DA611E; text-decoration: none; display: block; }
            .wrapper a.add_new i { font-size: 1.8em; color: #DA611E; margin-right: 6px; }

            .wrapper a.link { font-size: .9em; color: #DA611E; text-decoration: none; display: block; margin: 20px 20px; float: left; }
        </style>

        <link href="{{ asset('bundles/xlabstopset/css/buttons/buttons.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/xlabstopset/css/fontawesome/css/all.css') }}" rel="stylesheet">
        {% block head %}
            {% block jquery %}
                <script src="{{ asset('bundles/xlabstopset/js/jquery.1.9.1.js') }}"></script>
                <script src="{{ asset('bundles/xlabstopset/js/jquery-ui.min.1121.js') }}"></script>
            {% endblock jquery %}

            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

            <link rel="stylesheet" href="{{ asset('bundles/xlabstopset/js/fancybox/jquery.fancybox.css') }}" />
            <script src="{{ asset('bundles/xlabstopset/js/fancybox/jquery.fancybox.js') }}"></script>

            {% block headingJS %}{% endblock headingJS %}

            <script type="text/javascript">
                $(document).ready(function(){

                });
            </script>
        {% endblock head %}
    </head>
    <body>
        {% block body %}
            {% block content %}{% endblock content %}
        {% endblock body %}

        {% block javascripts %}

        {% endblock javascripts %}
    </body>
</html>