{% extends 'XLabsTopSetBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        @import 'https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700';
        html, body { font-family: 'Ubuntu', sans-serif; margin: 0; padding: 0; }

        h2.page_title { background: #89bdd3; color: #ffffff; height: 80px; border: none; text-align: center; margin: 0 0 25px 0; }

        .mm_media_bundle_wrapper { width: 70%; text-align: center; height: auto; display: block; margin: 0 auto; padding: 0; }

        fieldset { border: 1px solid #eee; border-radius: 8px; text-align: left; }
        fieldset legend { font-size: .8em; width: 100%; font-weight: bold; text-align: left; }

        label { font-size: .8em; }
        input[type="radio"] { margin-left: 15px; }

        fieldset legend { font-size: .8em; width: 100%; font-weight: bold; text-align: left; }

        input[type="submit"], a.submit { margin-top: 10px; text-decoration: none; color: #107895; width: auto; height: auto; background: #D0EAF0; padding: 8px 30px; font-size: .8em; border-radius: 6px; transition: all 0.2s; border: 1px solid #6CACC8; }
    </style>
{% endblock stylesheets %}

{% block body %}{% endblock body %}