{% block date_range_widget %}
    {% apply spaceless %}
        <input type="text" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" value="{{ form.vars.data }}" class="{{ form.vars.attr.class is defined ? form.vars.attr.class : '' }}" />

        <script>
            /*var today = new Date();
            var dd = (today.getDate() < 10) ? ('0' + today.getDate()) : today.getDate();
            var mm = ((today.getMonth() + 1) < 10) ? ('0' + (today.getMonth() + 1)) : (today.getMonth() + 1);
            var yyyy = today.getFullYear();

            if($().dateRangePicker)
            {
                $('#{{ form.vars.id }}').dateRangePicker({
                    autoClose: true,
                    format: 'DD-MM-YYYY',
                    startOfWeek: 'monday',
                    //startDate: dd + '-' + mm + '-' + yyyy,
                    //endDate: dd + '-' + mm + '-' + yyyy,
                });
            } else {
                console.log('ERROR: you need to include "moment.min.js", "jquery.daterangepicker.min.js" and "daterangepicker.min.css" to use this control.');
            }*/

            $('#{{ form.vars.id }}').dateRangePicker({
                autoClose: true,
                format: 'DD-MM-YYYY',
                startOfWeek: 'monday',
                showTopbar: true,
                customTopBar: '<div style="width: 100%;text-align: right;"><a id="{{ form.vars.id }}_reset" class="reset_daterangepicker" data-obj="{{ form.vars.id }}">Clear current selection</a></div>'
                //startDate: dd + '-' + mm + '-' + yyyy,
                //endDate: dd + '-' + mm + '-' + yyyy,
            }).bind('datepicker-change', function(event, obj){
                let onDateRangeSelected = new CustomEvent('onDateRangeSelected', {
                    'detail': {
                        'obj': event.target,
                        'value': obj
                    }
                });
                $('#{{ form.vars.id }}').get(0).addEventListener('onDateRangeSelected', function(e){
                    if(typeof onDateRangeSelected_callback == 'function')
                    {
                        onDateRangeSelected_callback(e.detail);
                    }
                });
                $('#{{ form.vars.id }}').get(0).dispatchEvent(onDateRangeSelected);
            });
        </script>

        <script>
            $('a#{{ form.vars.id }}_reset').on('click', function(e){
                e.preventDefault();
                let daterangepicker_input = $(this).attr('data-obj');
                let daterangepicker = $('#' + daterangepicker_input).data('dateRangePicker');
                daterangepicker.clear();

                // Since 'datepicker-change' event is not fired when clear(), manually simulate the event
                let onDateRangeSelected = new CustomEvent('onDateRangeSelected', {
                    'detail': {
                        'obj': $('#{{ form.vars.id }}').get(0),
                        'value': false
                    }
                });
                $('#{{ form.vars.id }}').get(0).addEventListener('onDateRangeSelected', function(e){
                    if(typeof onDateRangeSelected_callback == 'function')
                    {
                        onDateRangeSelected_callback(e.detail);
                    }
                });
                $('#{{ form.vars.id }}').get(0).dispatchEvent(onDateRangeSelected);
                daterangepicker.close();
            });
        </script>
    {% endapply %}
{% endblock %}