{% extends 'XLabsTopSetBundle::base_fancybox_form.html.twig' %}

{# COLLECTION HANDLER #}
{% form_theme form _self %}
{% block _xlabs_topset_bundle_top_type_entries_widget %}
    <script src="{{ asset('bundles/xlabstopset/js/daterange/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/xlabstopset/js/daterange/jquery.daterangepicker.min.js') }}"></script>
    <link href="{{ asset('bundles/xlabstopset/js/daterange/daterangepicker.min.css') }}" rel="stylesheet">

    {# Empty entry item #}
    {% include 'XLabsTopSetBundle:Entry/item:entry.html.twig' %}

    {# Empty search result item #}
    {% include 'XLabsTopSetBundle:Top/search:search_results_item.html.twig' %}

    {{ form_widget(form) }}
{% endblock %}
{% block _xlabs_topset_bundle_top_type_entries_entry_row %}
    <div class="collection-item item">
        {% include 'XLabsTopSetBundle:Entry:form.html.twig' with {
            'form': form
        } %}
    </div>
    <div style="float: none; clear: both;"></div>
{% endblock %}

{% block headingJS %}
    {{ parent() }}
    <script src="{{ asset('bundles/xlabstopset/js/collection_handler.js') }}"></script>
    <script src="{{ asset('bundles/xlabstopset/js/jquery.preloader/jquery.preloader.js') }}"></script>
    <script src="{{ asset('bundles/xlabstopset/js/functions.js') }}"></script>

    <script type="text/javascript">
        let json_list = JSON.parse('{{ json_list | raw | e('js') }}');

        function checkNoEntries()
        {
            // Show "no entries" label
            if(!$('#{{ form.vars.id }}_entries .collection-item').length)
            {
                $('#no_entries_selected').show();
            } else {
                $('#no_entries_selected').hide();
            }
        }

        let selected_search_result = false;
        $(document).ready(function(){
            new COLLECTION_HANDLER('#{{ form.vars.id }}_entries')
                .setCallback('onAdd', function(elem){
                    // a search result is clicked
                    let current_collection_item = elem.find('div.collection-item');
                    let position = parseInt(current_collection_item.index('.collection-item')) + 1;

                    // Fill in form
                    current_collection_item.find('input[id*="{{ form.vars.id }}_entries_"]').filter(function(){
                        return $(this).attr('id').match(/_object_id$/);
                    }).val(selected_search_result.id);
                    current_collection_item.find('input[id*="{{ form.vars.id }}_entries_"]').filter(function(){
                        return $(this).attr('id').match(/_position$/);
                    }).val(position);

                    let entry_data = {
                        id: selected_search_result.id,
                        title: selected_search_result.title,
                        image: selected_search_result.image,
                        position: position,
                        startdate: false,
                        enddate: false
                    };
                    addEntryItem(current_collection_item, entry_data);

                    selected_search_result = false; // reset selected search result
                    checkNoEntries();
                })
                .setCallback('onRemove', function(elem){
                    $('#sortable_entries').sortable('refresh');
                    $('#sortable_entries').sortable('refreshPositions');
                    let position = 1;
                    $.each($('#sortable_entries').find('div.collection-item').not(elem.get(0)), function(){
                        $(this).find('input[id*="{{ form.vars.id }}_entries_"]').filter(function(){
                            return $(this).attr('id').match(/_position$/);
                        }).val(position);
                        $(this).find('.entry_item .entry_item_position').text(position);
                        position++
                    });
                    checkNoEntries();
                })
                .setAddButtonText('Add new entry');

            $('#sortable_entries').sortable({
                //connectWith: '.connectedSortable',
                items: 'div.collection-item',
                placeholder: 'ui-state-highlight',
                cursor: 'pointer',
                helper: 'original',
                revert: 0,
                zIndex: 9999,
                scroll: false,
                start: function(e, ui) {
                    ui.item.addClass('ui-state-highlight');
                },
                stop: function(e, ui){
                    ui.item.removeClass('ui-state-highlight');
                    let container = $(this);
                    $.each(container.find('div.collection-item'), function(){
                        let position = parseInt($(this).closest('.collection-item').index('.collection-item')) + 1;
                        $(this).find('.entry_item_position').text(position);
                        $(this).find('input[id*="{{ form.vars.id }}_entries_"]').filter(function(){
                            return $(this).attr('id').match(/_position$/);
                        }).val(position);
                    });
                },
                receive: function(e, ui){},
                over: function (event, ui) {},
                out: function (event, ui) {},
                create: function (event, ui) {
                    //updateTotals();
                }
            }).disableSelection();

            $('#search_results').on('click', '.search_result_item', function(e){
                e.stopPropagation();
                let item = $(this);
                selected_search_result = {
                    id: item.find('.search_result_item_id').text(),
                    title: item.find('.search_result_item_title').text(),
                    image: item.find('.search_result_item_image').text() ? item.find('.search_result_item_image').text() : '',
                };
                // check if element already in top
                let existingEntry = false;
                $.each($('#sortable_entries').find('div.collection-item'), function(){
                    let entry_obj_id_input = $(this).find('input[id*="{{ form.vars.id }}_entries_"]').filter(function(){
                        return $(this).attr('id').match(/_object_id$/);
                    });
                    if(entry_obj_id_input.val() == selected_search_result.id)
                    {
                        existingEntry = entry_obj_id_input.closest('div.collection-item');
                    }
                });

                if(existingEntry)
                {
                    // blink entry
                    existingEntry.addClass('existing_entry');
                    setTimeout(function(){
                        existingEntry.removeClass('existing_entry');
                    }, 2000);
                } else {
                    $('.add-collection-item').trigger('click');
                }
            });
            $('#search_results').on('click', '.add_search_result', function(e){
                e.stopPropagation();
                $(this).closest('.search_result_item').trigger('click');
            });

            // Hide ADD button from collection_handler.js
            $('.add-collection-item-c').hide();

            // Show message when no entries set
            checkNoEntries();

            // Unfold date range selector on span click
            $('body').on('click', '.entry_item_date_range', function(e){
                e.stopPropagation();
                $(this).closest('.collection-item').find('.dateRange_selection').data('dateRangePicker').open();
            });
        });
    </script>
{% endblock headingJS %}

{% block content %}
    {% set form_title = 'Manage entries' %}
    <h2 class="page_title">
        <br />{{ form_title }}
    </h2>

    {% if app.session.flashBag.has('mm_top_error') %}
        <div>
            {% for msg in app.session.flashBag.get('mm_top_error') %}
                <p>{{ msg }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="wrapper">
        {# Current entries #}
        <div class="left">
            {% set formAction = path('xlabs_topset_form_entries', { 'top_id': top.id }) %}
            <div class="loader" style="display:none;width: 100%;height: 100%;position: absolute;background: rgba(0, 0, 0, 0.32);z-index: 9;">
                <img src="{{ asset('bundles/xlabstopset/images/loader.png') }}" style="position: absolute;top: 40%;left: 45%;">
            </div>
            <div class="clear"></div>
            <form action="{{ formAction }}" method="post" enctype="multipart/form-data" id="top_entries_form" name="top_entries_form">
                <fieldset>
                    <legend>Entries</legend>
                    <div id="sortable_entries" class="">
                        {{ form_widget(form.entries) }}
                        <span id="no_entries_selected" style="display: none; font-size: .8em; color: #aaaaaa;">No entries selected yet</span>
                    </div>
                </fieldset>
                <div class="clear"></div>

                {{ form_rest(form) }}

                <div class="clear" style="height: 25px;"></div>
                <button type="submit" class="button">Save</button>
                <button type="button" id="close" class="button red">Close</button>
            </form>
        </div>

        {# Search to add more entries #}
        <div class="right">
            <form id="search_entries" name="search_entries" enctype="multipart/form-data">
                <input type="text" id="search_terms" name="search_terms" style="padding: 5px; border: 1px solid #dddddd; border-radius: 4px; color: #999999; -moz-box-shadow: 3px 3px 0px #EAF3F3; -webkit-box-shadow: 3px 3px 0px #EAF3F3; box-shadow: 3px 3px 0px #EAF3F3; margin-right: 5px;" />
                <button type="submit" id="search_but" class="button">Search {{ getTopFQCN(top) }}</button>
            </form>
            <div id="search_results"></div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('form#search_entries').submit(function(e){
                e.preventDefault();
                $('#search_results').html('');
                let search_terms = $('#search_terms').val();
                let min_search_characters = 3;
                if(search_terms != '' && search_terms.length >= min_search_characters)
                {
                    $('.search_results_info.search_results_requirements').hide();
                    $('#search_results').preloader({
                        'loading_animation' : '/bundles/xlabstopset/js/jquery.preloader/preloader.png',
                        'loading_text': 'Live search, be patient :)'
                    }).preloader('enable');
                    let results = searchByIdOrTitle(search_terms);
                    if(results.length)
                    {
                        let results_items = '';
                        for(let i=0; i<results.length; i++)
                        {
                            let id = results[i];
                            let search_result_data = getEntryById(id);
                            search_result_data = {
                                id: search_result_data.id,
                                title: search_result_data.title,
                                image: search_result_data.image,
                            };
                            let item_html = getSearchResultItem(search_result_data);
                            results_items += item_html;
                        }
                        $('#search_results').html(results_items);
                        //$('#search_terms').val('');
                    } else {
                        $('#search_results').html('<span class="search_results_info">No results found</span>');
                    }
                    $('#search_results').preloader('disable');
                } else {
                    $('#search_results').html($('<span class="search_results_info search_results_requirements">At least ' + min_search_characters + ' characters required</span>'));
                    $('input#search_terms').focus();
                }
                return false;
            });

            $('button#close').on('click', function(e){
                e.preventDefault();
                parent.$.fancybox.close();
            });
        });
    </script>
{% endblock javascripts %}