{% extends 'XLabsTopSetBundle::base_fancybox_form.html.twig' %}

{% block headingJS %}{% endblock headingJS %}

{% block mm_xlabs_mmadmin %}{% endblock mm_xlabs_mmadmin %}

{% block content %}
    <style>
        .hidden-field {display: none;}
        .loader {display:none; width: 100%; height: 100%; position: absolute; background: rgba(0, 0, 0, 0.32); z-index: 9;}
        .loader img {position: absolute; top: 40%; left: 45%;}
    </style>

    <div class="xlabs_topset_bundle_wrapper">
        {% set form_title = top.id ? 'Edit Top' : 'Create Top' %}
        <h2 class="page_title">{{ form_title }}</h2>

        <div class="loader" style="">
            <img src="{{ asset('bundles/mmmedia/images/loader.png') }}">
        </div>

        {% set form_action = top.id ? path('xlabs_topset_form', { 'top_id': top.id }) : path('xlabs_topset_form') %}
        <form action="{{ form_action }}" method="post" enctype="multipart/form-data" id="top_form" name="top_form">
            <fieldset>
                <legend>Descriptive title</legend>
                {{ form_widget(form.title) }}
            </fieldset>

            {% if form.entity_fqcn is defined %}
                <fieldset>
                    <legend>Entity</legend>
                    {{ form_widget(form.entity_fqcn) }}
                </fieldset>
            {% else %}
                <span>{{ top.entityFQCN }}</span>
            {% endif %}

            {{ form_rest(form) }}

            {#<input type="submit" id="btnSubmit" class="but" value="Upload">#}
            <div style="margin-top: 20px;">
                <button type="submit" class="button">Save</button>
            </div>
        </form>
    </div>

    <script>
        $(document).ready(function(){
            $("input:text:visible:first").focus();
            });

            $('#top_form').submit(function(e){
                $('.loader').show();
                return true;
            });
        });
    </script>
{% endblock content %}