{% extends 'XLabsTopSetBundle:Frontend:bundle_wrapper.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        ul.list {list-style-type: none; width: 500px; margin: 0 auto;}
        ul.list li {height: 50px; border: 1px solid #CEE7FC; border-radius: 4px; padding: 10px; overflow: hidden; margin: 7px 0;-moz-box-shadow: 4px 4px 0px #EAF3F3; -webkit-box-shadow: 4px 4px 0px #EAF3F3; box-shadow: 4px 4px 0px #EAF3F3;}
        ul.list li > *{float: left; line-height: 50px; margin: 0 3px;}
        ul.list li > a{float: right; text-decoration: none; color: #97D0F5; margin: 0 10px;}
        ul.list li > a:hover{text-decoration: underline;}
    </style>
{% endblock stylesheets %}

{% block headingJS %}
    <script type="text/javascript">
        $(document).ready(function(){
            // Popups
            $(".fancybox_iframe").fancybox({
                type: 'iframe',
                width: 1200,
                height: 450,
                closeBtn:'<a title="Close" class="fancybox-item fancybox-close" href="javascript:;"></a>',
                afterClose: function(){
                    parent.location.reload();
                }
            });
            $(".fancybox_iframe_no_reload").fancybox({
                type: 'iframe',
                width: 1200,
                height: 450,
                closeBtn:'<a title="Close" class="fancybox-item fancybox-close" href="javascript:;"></a>'
            });

            $('.delete').on('click', function(e){
                e.preventDefault();
                if(confirm('Are you sure you want to delete this top?'))
                {
                    location.href = $(this).attr('href');
                }
            })
        });
    </script>
{% endblock headingJS %}

{% block body %}
    <h2 class="page_title">
        <br />Top Manager
    </h2>

    {% if app.session.flashBag.has('mm_top_error') %}
        <div class="">
            {% for msg in app.session.flashBag.get('mm_top_error') %}
                <h2 class="" style=""> {{ msg }}</h2>
            {% endfor %}
        </div>
    {% endif %}

    <div class="wrapper">
        {# HREF is set in the button for fancybox (workaround) #}
        <button type="button" class="button fancybox_iframe" href="{{ path('xlabs_topset_form') }}">Create top</button>
        <div class="center">
            <ul class="list">
                {% for top in top_sets %}
                    {% include 'XLabsTopSetBundle:Top/item:top.html.twig' with {
                        'top': top
                    } %}
                {% else %}
                    <span style="display: block; font-size: .8em; color: #aaaaaa;">No top sets found</span>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock body %}