{% extends 'XLabsTopSetBundle::base_fancybox_form.html.twig' %}

{% block content %}
    <h2 class="page_title">
        <br />USAGE
    </h2>
    <br />
    <div class="wrapper" style="min-height: 200px;">
        <div style="font-size: .8em;">
            From TWIG, you can get the object IDs collection by calling the following function:<br /><br />
            <span style="background: #cccccc; padding: 4px 12px; width: 100%; line-height: 2em;">getTopEntries({{ top.id }})</span>
            <br /><br /><br />
            You can achieve the same results from a controller by using the following service from the container:<br /><br />
            <span style="background: #cccccc; padding: 4px 12px; width: 100%; line-height: 2em;">$container->get('xlabs_topset_manager')->getTopEntries({{ top.id }});</span>
        </div>
        <br /><br /><br />
        <button type="button" id="close" class="button red">Close</button>
    </div>
{% endblock content %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('button#close').on('click', function(e){
                e.preventDefault();
                parent.$.fancybox.close();
            });
        });
    </script>
{% endblock javascripts %}