<li>
    <i class="fas fa-list-ol" style="font-size: 25px; color: #97D0F5"></i>
    <span style="font-size: .9em; line-height: normal; text-align: left; margin: 6px 3px 0 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 250px;" title="{{ top.title }}">
        {{ top.title }}
        <br />
        <span style="font-size: .8em; color: #aaaaaa">
            {#<b>{{ top.entries | length }}</b> {{ getTopFQCN(top) }} entries#}
            {{ top.entries | length }} {{ getTopFQCN(top) }} entries
        </span>
    </span>
    <a class="delete" href="{{ path('xlabs_topset_delete', { 'top_id': top.id }) }}" style="font-size: 1.5em;" title="Delete"><i class="fas fa-trash-alt"></i></a>
    <a class="fancybox_iframe" href="{{ path('xlabs_topset_form_entries', { 'top_id': top.id }) }}" style="font-size: 1.5em;" title="Edit entries"><i class="far fa-list-alt"></i></a>
    <a class="fancybox_iframe" href="{{ path('xlabs_topset_form', { 'top_id': top.id }) }}" style="font-size: 1.5em;" title="Edit"><i class="fas fa-edit"></i></a>
    <a class="fancybox_iframe_no_reload" href="{{ path('xlabs_topset_usage', { 'top_id': top.id }) }}" style="font-size: 1.5em;" title="Usage"><i class="fas fa-plug"></i></a>
</li>