<div class="entry_item sample">
    <span class="entry_item_position"></span>
    <span class="entry_item_img" style="display: none;">
        <img src="" style="width: auto; height: 60px; vertical-align: middle;" />
    </span>
    <span class="entry_item_no_img" style="display: none;">
        <img src="{{ asset('bundles/xlabstopset/images/no_image.png') }}" style="width: auto; height: 60px; vertical-align: middle;" />
    </span>
    <span class="entry_item_image" style="display: none;"></span>
    <span class="entry_item_id" style="display: none;"></span>
    <span class="entry_item_title" title=""></span>
    <br />
    <span class="entry_item_date_range">
        <label class="active" style="display: none;"></label>
        <label class="inactive" style="display: none;"></label>
    </span>
    <span class="entry_item_date_status" style="display: none;">
        <span class="entry_item_date_status_inactive" style="display: none;">expired</span>
        <span class="entry_item_date_status_active" style="display: none;">active</span>
        <span class="entry_item_date_status_scheduled" style="display: none;">scheduled</span>
    </span>
</div>