.wrapper {width: 1000px; min-height: 600px; margin: 30px auto; display: block; text-align:center;}

.wrapper .center {width: 100%; display: inline-block; /*background: #990000;*/ border-radius: 2px; padding: 20px; margin-right: 35px; vertical-align: top;}

.wrapper .left {display: inline-block; min-width: 350px; max-width: 350px; min-height: 300px; /*background: #990000;*/ border-radius: 2px; padding: 20px; margin-right: 35px; vertical-align: top;}
.wrapper .right {display: inline-block; min-width: 350px; max-width: 350px; min-height: 300px; /*background: #009900;*/ border-radius: 2px; padding: 20px; vertical-align: top; border-left: 1px solid #dddddd;}

.sample {display: none!important;}
.collection-item {border: 1px solid #CEE7FC; border-radius: 4px; width: 350px; position: relative; margin: 8px 0; -moz-box-shadow: 3px 3px 0px #EAF3F3; -webkit-box-shadow: 3px 3px 0px #EAF3F3; box-shadow: 3px 3px 0px #EAF3F3;}
.collection-item.active {border: 1px solid #689F38; -moz-box-shadow: 3px 3px 0px #689F38; -webkit-box-shadow: 3px 3px 0px #689F38; box-shadow: 3px 3px 0px #689F38;}
.collection-item.inactive {border: 1px solid #78909c; -moz-box-shadow: 3px 3px 0px #78909c; -webkit-box-shadow: 3px 3px 0px #78909c; box-shadow: 3px 3px 0px #78909c;}
.collection-item.scheduled {border: 1px solid #ECA61E; -moz-box-shadow: 3px 3px 0px #ECA61E; -webkit-box-shadow: 3px 3px 0px #ECA61E; box-shadow: 3px 3px 0px #ECA61E;}
.collection-item:hover {cursor: pointer;}
.remove-collection-item {color: #F2464D!important;}

.search_result_item {height: 40px; vertical-align: middle; max-width: 350px; display: inline-block; border: 1px solid #CEE7FC; border-radius: 4px; margin: 3px 0; padding: 5px 8px; -moz-box-shadow: 3px 3px 0px #EAF3F3; -webkit-box-shadow: 3px 3px 0px #EAF3F3; box-shadow: 3px 3px 0px #EAF3F3;}
.search_result_item span {float: left;}
.search_result_item span:not(.search_result_item_img) {line-height: 40px;}
.search_result_item .search_result_item_title {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 190px; margin-left: 10px; text-align: left; font-size: .8em; color: #777777;}
.search_result_item .search_result_item_img {border-radius: 2px; border: 1px solid #6CACC8;}

fieldset {padding: 0;}

.entry_item {height: 60px; vertical-align: middle; /*display: inline-block;*/ overflow: hidden;}
.entry_item.active {background: rgba(104, 159, 56, .1);}
.entry_item.inactive {background: rgba(120, 144, 156, .1);}
.entry_item.scheduled {background: rgba(236, 166, 30, .1);}
.entry_item span {float: left;}
/*.entry_item span:not(.entry_item_title):not(.entry_item_date_range):not(.entry_item_img) {line-height: 40px;}*/
.entry_item .entry_item_position {background: #DFF0FD; color: #0D6B85; display: inline-block; width: 40px; text-align: center; border-radius: 64px; position: absolute; left: -50px; font-size: .8em; border: 1px double #97D0F5; -moz-box-shadow: 3px 3px 0px #EAF3F3; -webkit-box-shadow: 3px 3px 0px #EAF3F3; box-shadow: 3px 3px 0px #EAF3F3; top: 50%; transform: translateY(-50%); line-height: 40px;}
.entry_item .entry_item_title, .entry_item .entry_item_date_range {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 220px; margin: 9px 0 0 10px; font-size: .8em; color: #202020;}
.entry_item .entry_item_img {border-radius: 2px; border: 1px solid #6CACC8;}
.entry_item .entry_item_date_range label.active {color: #93a661; font-size: .9em;}
.entry_item .entry_item_date_range label.inactive {color: #F2464D; font-size: .9em;}
.entry_item .entry_item_date_range label:before {font-family: 'Font Awesome 5 Free'; margin-right: 4px; content: "\f017";}
.entry_item .entry_item_date_range label:hover {cursor: pointer;}
.entry_item .entry_item_date_status {position: absolute; bottom: 8px; right: -30px; font-size: .7em; font-family: Arial; text-transform: lowercase; line-height: 17px;}
.entry_item .entry_item_date_status span:before {font-family: 'Font Awesome 5 Free'; margin-right: 3px; content: "\f017";}
.entry_item .entry_item_date_status_active {background: #689F38; color: #ffffff; padding: 1px 4px;}
.entry_item .entry_item_date_status_inactive {background: #78909c; color: #ffffff; padding: 1px 4px;}
.entry_item .entry_item_date_status_scheduled {background: #FF9500; color: #ffffff; padding: 1px 4px;}

.ui-state-highlight {height: 40px; background: #EAF3F3; border-radius: 4px;}

#search_results {position: relative; min-height: 150px; margin-top: 10px;}
.search_results_info {margin-top: 20px; display: inline-block; font-size: .8em; color: #aaaaaa;}
.search_results_info.search_results_requirements {color: #F2464D;}

.add_search_result {padding: 6px 8px; font-size: 1.1em; color: #0D6B85; display: inline-block; width: 40px; text-align: center; border-radius: 10px; position: absolute; left: -50px; border: 1px double #6CACC8; background: #fafafafa;}
.add_search_result:hover {cursor: pointer;}
.remove-collection-item {font-size: 22px!important;}
.search_result_item:hover {cursor: pointer;}

.reset_daterangepicker:hover {cursor: pointer;}

@-webkit-keyframes existing_entry {
    from { background-color: #6CACC8; }
    to { background-color: inherit; }
}
@-moz-keyframes existing_entry {
    from { background-color: #6CACC8; }
    to { background-color: inherit; }
}
@-o-keyframes existing_entry {
    from { background-color: #6CACC8; }
    to { background-color: inherit; }
}
@keyframes existing_entry {
    from { background-color: #6CACC8; }
    to { background-color: inherit; }
}
.existing_entry {
    -webkit-animation: existing_entry 1s infinite; /* Safari 4+ */
    -moz-animation:    existing_entry 1s infinite; /* Fx 5+ */
    -o-animation:      existing_entry 1s infinite; /* Opera 12+ */
    animation:         existing_entry 1s infinite; /* IE 10+ */
}