<fieldset>
    <div style="width: 0px!important; height: 0 !important; overflow: hidden;">
        <fieldset style="display: none;">
            <legend>Object ID</legend>
            {{ form_widget(form.object_id) }}
        </fieldset>
        <div class="clear"></div>

        <fieldset style="display: none;">
            <legend>Position</legend>
            {{ form_widget(form.position) }}
        </fieldset>
        <div class="clear"></div>

        <fieldset style="padding: 0;">
            {#<legend>Range</legend>#}
            {{ form_widget(form.dateRange) }}
        </fieldset>
        <div class="clear"></div>
    </div>

    <script>
        {% if form.vars.data and form.vars.data.objectid %}
            var current_collection_item = $('input#{{ form.vars.id }}_position').closest('.collection-item');
            var position = parseInt(current_collection_item.index('.collection-item')) + 1;
            var entry_data = getEntryById({{ form.vars.data.objectid }});
            entry_data = {
                id: entry_data.id,
                title: entry_data.title,
                image: entry_data.image,
                position: position,
                startdate: {{ form.vars.data and form.vars.data.startdate ? (('new Date("'~(form.vars.data.startdate | date('c'))~'")')|raw) : 'false' }},
                enddate: {{ form.vars.data and form.vars.data.enddate ? (('new Date("'~(form.vars.data.enddate | date('c'))~'")')|raw) : 'false' }},
            };
            addEntryItem(current_collection_item, entry_data);
        {% endif %}
    </script>
</fieldset>