<div class="search_result_item sample" title="Click to add to list">
    <span class="search_result_item_img" style="display: none;">
        <img src="" style="max-width: 60px; max-height: 40px; vertical-align: middle;" />
    </span>
    <span class="search_result_item_no_img" style="display: none;">
        <img src="{{ asset('bundles/xlabstopset/images/no_image.png') }}" style="max-width: 60px; max-height: 40px; vertical-align: middle;" />
    </span>
    <span class="search_result_item_image" style="display: none;"></span>
    <span class="search_result_item_id" style="display: none;"></span>
    <span class="search_result_item_title" title=""></span>
    <span style="position: relative; margin-top: 5px;" title="Click to add to list">
        <img src="{{ asset('bundles/xlabstopset/images/plug.png') }}" style="width: 30px; height: 30px;" />
        {#<button class="add_search_result" title="Click to add to list"><i class="fas fa-plug"></i></button>#}
    </span>
</div>